<head>
  <style>
    .blend {
      background-size: cover;
      background-blend-mode: darken;
    }
  </style>
  <% include ../partials/head %>
</head>
<body>

  <% include ../partials/google-analytics %>
	<% include ../partials/facebook %>
	<% include ../partials/header %>

  <div class="plax ccparallax" style="background-image: url('<%= player.avatarfull %>')">
      <h1><%= player.personaname %></h1>
  </div>
  <div class="plax-content" style="background:#1B1E21;-webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);">
    <div class="container">
      <% include ../partials/publicidad-top %>
      <div class="row"><div id="stream" class="col-md-12"></div></div>
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class=" col-md-12">
            <% if (!player) { %>
              <div class="alert alert-danger" role="alert">No existe este jugador en nuestros registros</div>
            <% } else { %>


              <div class="panel panel-primary">
                <div class="panel-heading"><%= player.personaname %></div>
                <div class="panel-body" >
                  <img src="<%= player.avatarfull %>" class="img-circle">
                  <% if(player && player.twitch){ %>
                  <a href="http://twitch.tv/<%= player.twitch.name %>"><img src="/img/social/twitch.png"></a>
                  <% }%>
                </div>
              </div>

              <% if(player && player.twitch){ %>
              <div class="panel panel-twitch">
                <div class="panel-heading"><img src="/img/social/twitch.png" width="16"> Twitch </div>
                <div id="twitch_banner" class="panel-body blend" style="color:white;">
                  <a href="http://twitch.tv/<%= player.twitch.name %>">
                    <div class="col-md-2"><img id="twitch_logo" height=64 width=64 class="img-thumbnail"></div>
                  </a>
                  <div class="col-md-9">
                    <a href="http://twitch.tv/<%= player.twitch.name %>"><h2 id="twitch_name"></h2></a>
                    <p>
                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <span id="twitch_views"></span>
                      <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> <span id="twitch_followers"></span>
                    </p>
                    <p><%= player.twitch.bio %></p>
                  </div>
                </div>
              </div>
              <% }%>
            <% }%>
            </div>
          </div>
        </div>
        <% include ../partials/sidebar %>
      </div>
    </div>
  </div>
  <% include ../partials/footer %>
  <% include ../partials/bootstrapjs %>
  <% if(player&&player.twitch){ %>
  <script>
    var xmlhttpuno = new XMLHttpRequest();
    var urlTwitchChannel = "https://api.twitch.tv/kraken/channels/<%= player.twitch.name %>";
    xmlhttpuno.onreadystatechange = function() {
      if (xmlhttpuno.readyState == 4 && xmlhttpuno.status == 200) {
        var channelInfo = JSON.parse(xmlhttpuno.responseText);
        document.getElementById("twitch_name").innerHTML = channelInfo.name;
        document.getElementById("twitch_views").innerHTML = channelInfo.views;
        document.getElementById("twitch_followers").innerHTML = channelInfo.followers;
        document.getElementById("twitch_banner").style.background = " linear-gradient(to bottom, rgba(100, 65, 165,0.9), rgba(38, 38, 38,0.9)), url('"+channelInfo.profile_banner+"') no-repeat";
        document.getElementById("twitch_banner").style.backgroundSize = "cover";
        document.getElementById("twitch_logo").src = channelInfo.logo;
        console.log(channelInfo);
      }
    };
    xmlhttpuno.open("GET", urlTwitchChannel, true);
    xmlhttpuno.send();

    // Twitch-API
    // GET https://api.twitch.tv/kraken/streams/:player.twitch.name
    // If user is streaming now, the page will show her stream with chat.
    var xmlhttp2 = new XMLHttpRequest();
    var urlTwitchStream = "https://api.twitch.tv/kraken/streams/<%= player.twitch.name %>";
    xmlhttp2.onreadystatechange = function() {
      if (xmlhttp2.readyState == 4 && xmlhttp2.status == 200) {
        var streamInfo = JSON.parse(xmlhttp2.responseText);
        if(streamInfo.stream != null){
          document.getElementById("stream").innerHTML ="<div class=\"panel panel-danger\"><div class=\"panel-heading\">EN DIRECTO</div><div class=\"panel-body\"><div class=\"col-md-8\"><div class=\"embed-responsive embed-responsive-16by9\"><iframe class=\"embed-responsive-item\" src=\"https://player.twitch.tv/?channel=<%= player.twitch.name %>\" frameborder=\"0\" scrolling=\"no\"></iframe><a href=\"https://www.twitch.tv/<%= player.twitch.name %>?tt_medium=live_embed&tt_content=text_link\" style=\"padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;\">Watch live video from <%= player.twitch.name %> on www.twitch.tv</a></div></div><div class=\"col-md-4\"><iframe src=\"https://www.twitch.tv/<%= player.twitch.name %>/chat?popout=\" frameborder=\"0\" width=\"100%\" style=\"height:400;\" scrolling=\"no\" ></iframe></div></div></div>";
        }
      }
    };
    xmlhttp2.open("GET", urlTwitchStream, true);
    xmlhttp2.send();
  </script>
  <% }%>
</body>
